$display: flex;
$width: 100%;
$alignIt: center;
$fontTitle: 3em;
$direction: column;
$lineaText: center;
$justify: center;

$space-large: space-between;
$space-short: space-around;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin buttons-primary {
    padding: 12px;
    border-radius: 55px;
    background-color: red;
    color: white;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
    transition: transform 1s ease-out;

    &:hover {
        transform: scale(1.1);
        background-color: silver;
        color: red;
        border: 1px red double;
    }
}


@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font-tittle{
    
}