<app-header></app-header>
<div class="infopage">
    <div class="infopage_movies">
        <div class="infopage_movies_portada">
            <img src="../../../assets/img/MOV.png" alt="" class="movies">
        </div>
        <h1 class="infopage_movies_title">Latest movies</h1>
        <div class="infopage_movies_card">
            <div class="infopage_movies_cards_box">
                <img src="../../../assets/img/DeadpoolWolverine.jpg" alt="">
                <p class="infopage_movies_crads_box_title">Deadpool & Wolverine</p>
                <p class="infopage_movies_crads_box_date">Estreno: JUL 26, 2024</p>
            </div>
            <div class="infopage_movies_cards_box">
                <img src="../../../assets/img/themarvels.jpeg" alt="">
                <p class="infopage_movies_crads_box_title">The Marvel`s</p>
                <p class="infopage_movies_crads_box_date">2023</p>
            </div>
            <div class="infopage_movies_cards_box">
                <img src="../../../assets/img/guardians3.jpeg" alt="">
                <p class="infopage_movies_crads_box_title">Guardians of the Galaxy vol 3</p>
                <p class="infopage_movies_crads_box_date">2023</p>
            </div>
            <div class="infopage_movies_cards_box">
                <img src="../../../assets/img/antman.jpg" alt="">
                <p class="infopage_movies_crads_box_title">Ant-Man and the Wasp: Quantumanía</p>
                <p class="infopage_movies_crads_box_date">2023</p>
            </div>
            <div class="infopage_movies_cards_box">
                <img src="../../../assets/img/wakanda.jpeg" alt="">
                <p class="infopage_movies_crads_box_title">Black Panther: Wakanda Forever</p>
                <p class="infopage_movies_crads_box_date">2022</p>
            </div>
            <div class="infopage_movies_cards_box">
                <img src="../../../assets/img/thor.jpg" alt="">
                <p class="infopage_movies_crads_box_title">Thor: Love and Thunder</p>
                <p class="infopage_movies_crads_box_date">2022</p>
            </div>
        </div>
    </div>


    <div class="infopage_proximovies">
        <h1 class="infopage_movies_title">Proxim Movies</h1>
        <div class="infopage_movies_card">
            <div class="infopage_movies_cards_box">
                <img src="../../../assets/img/Captain_America_Brave_New_World_.jpg" alt="">
                <p class="infopage_movies_crads_box_title">Captain America: Brave New World</p>
                <p class="infopage_movies_crads_box_date">FEB 14, 2025</p>
            </div>
            <div class="infopage_movies_cards_box">
                <img src="../../../assets/img/thunder.jpg" alt="">
                <p class="infopage_movies_crads_box_title">Thunderbolts</p>
                <p class="infopage_movies_crads_box_date">MAY 2, 2025</p>
            </div>
            <div class="infopage_movies_cards_box">
                <img src="../../../assets/img/4fa.png" alt="">
                <p class="infopage_movies_crads_box_title">Fantastic Four</p>
                <p class="infopage_movies_crads_box_date">JUL 25, 2025</p>
            </div>
            <div class="infopage_movies_cards_box">
                <img src="../../../assets/img/blade.jpg" alt="">
                <p class="infopage_movies_crads_box_title">Blade</p>
                <p class="infopage_movies_crads_box_date">NOV 7, 2025</p>
            </div>
            <div class="infopage_movies_cards_box">
                <img src="../../../assets/img/kang.jpg" alt="">
                <p class="infopage_movies_crads_box_title">Avengers: The Kang Dynasty</p>
                <p class="infopage_movies_crads_box_date">MAY 1, 2026</p>
            </div>
            <div class="infopage_movies_cards_box">
                <img src="../../../assets/img/secret.jpg" alt="">
                <p class="infopage_movies_crads_box_title">Avemgers: Secret Wars</p>
                <p class="infopage_movies_crads_box_date">MAY 7, 2027</p>
            </div>
        </div>
    </div>
</div>