<div class="home">
    <div class="home_header">
        <div class="home_header_logo">
            <img src="../../assets/img/logo.png" alt="Marvel Logo">
            <h1 class="home_header_logo_text"><a href="/home">Marvel APP</a></h1>
        </div>

        <div class="home_header_item">
            <ul class="home_header_item_list">
                <div class="home_header_list_link">
                    <li>
                        <a routerLink="/series">Series</a>
                    </li>
                </div>
                <div class="home_header_list_link">
                    <li>
                        <a routerLink="/movies">Movies</a>
                    </li>
                </div>
                <div class="home_header_list_link">
                    <li>
                        <a href="/comics">Comics</a>
                    </li>
                </div>
                <div class="home_header_list_link">
                    <li>
                        <a href="/characters">Characteres</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>